<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>TwitterFeedsBundle- By Robin Chalas - With Symfony 2</title>
    <link rel="stylesheet" href="{{ asset('bundles/chalasdevtwitterfeeds/css/bootstrap-css-only/css/bootstrap.min.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/chalasdevtwitterfeeds/css/bootstrap-css-only/css/bootstrap-theme.min.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/chalasdevtwitterfeeds/css/main.css') }}" type="text/css" media="screen" />
</head>
<body>
<style>
</style>
    <nav>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <a href="/" class="navbar-brand">TwitterFeeds</a>
            <ul class="nav navbar-nav">
              {% if app.user %}
                <li><a href="/profile">Profile</a></li>
              {% else %}
                <li><a href="/register">Sign-up</a></li>
                <li><a href="/login">Sign-in</a></li>
                <li><a href="/oauth/login">Connect your Twitter</a></li>
              {% endif %}
            </ul>
        </div>
      </nav>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>
