{% extends 'ChalasDevTwitterFeedsBundle:Layout:layout.html.twig' %}
{% block body %}
  <div id="mainsect" class="panel panel-default">
    {% if app.user %}
      <div class="panel-heading">
        <p>@ Timeline</p>
      </div>
      <ul class="list-group">
        {% for tweet in content %}
            <li class="list-group-item">
              <img src="{{ tweet.user.profile_image_url }}" alt="" />
              <span style="margin-left: 7%;" class="tcontent">{{ tweet.text }}</span><br>
              <a target="_blank" class="text-muted" href="https://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a>
            </li>
        {% endfor %}
      </ul>
  {% else %}
    <p>unlogged</p>
  {% endif %}
</div>
{% endblock %}
