{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Wall</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Requesttype</th>
                <td>{{ entity.requestType }}</td>
            </tr>
            <tr>
                <th>Requestvalue</th>
                <td>{{ entity.requestValue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('wall') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('wall_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
<div id="mainsect" class="panel panel-default">
  {% if app.user %}
    <div class="panel-heading">
      <p>@ Timeline</p>
    </div>
    <ul class="list-group">
      {% for tweet in content %}
          <li class="list-group-item">
            <img src="{{ tweet.user.profile_image_url }}" alt="" />
            <span style="margin-left: 7%;" class="tcontent">{{ tweet.text }}</span><br>
            <a target="_blank" class="text-muted" href="https://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a>
          </li>
      {% endfor %}
    </ul>
{% else %}
  <p>unlogged</p>
{% endif %}
</div>
{% endblock %}
